*{
	margin:0;
	padding:0;
	text-decoration:none;
	box-sizing:border-box;
}
body{
	font-family:Geneva,Tahoma,san-serif;
	color:#323232;
	line-height:1.3;
	text-align:center;
	height:100%;
}

.floating{float:left;}
.overlay{
	background:rgb(0,0,0,0.3);
	height:100%;
}
.divider{
	background:transparent;
	height:4em !important;
	padding:0.2em;
}
.spacer{
	background:transparent;
	height:2.9em !important;
}
.name img{
	width:60px;
	height:60px;
	margin-right:auto;
}
.name{
	float:left;
	text-align:center;
	position:relative;
	font:bold 25px trebuchet ms !important;
	color:gold;
	text-decoration:none;
	cursor:pointer;
	border:none;
}
.menubtn{
	display:none;
}
header{
	display:flex;
	justify-content:space-between;/*flex-end*/
	color:white;
	padding:0.7em;
	background:transparent;
    position:relative;
	text-align:left;
	text-shadow:-1px 1px 2px black;
}
.menu-list{
	float:center;
	background:transparent;
	text-align:center;
	position:relative;
	list-style-type:none;
	transition:all 0.5s ease;
}
.menu-list li{
	display:inline-block;
	padding:0.2em 0.1em;
	margin:0.2em;
	border-right:solid 1px #8d8c8c;
	text-decoration:none;
	transition:all 0.5s ease;
	cursor:pointer;
}
.link{
	color:white;
	text-decoration:none;
	font:bold 20px trebuchet ms !important;
	padding:0.2em;
	transition:all 0.5s ease;
}

.menu-list li:hover .link{
	color:gold;
}
#showcase {
	height: 130px;
	color:white;
	text-align:center;
	background:#05474d;
	overflow:hidden;
}
#showcase span{
	color:#f3f3f3;
	position:relative;
	text-align:center;
	text-shadow:-1px 1px 2px black;
}
#showcase h2{
	font:bold 40px trebuchet ms;
}
@keyframes heading{
	0% {top: 350px;opacity: 0}
	100% {top: 150px;opacity: 1}
}
h1{
	font-size:30px;}
h2{
	font-size:32px;}
h3{
	font-size:23px;
	color:black;
}
h4{
	font:normal 21px tahoma;
	color:#085598;
}
h5{ 
	font-size:15px;
	margin:0.2em;
	color:#1773c2;
}

main b{
	font:normal 20px tahoma;
	color:black;
}
.btn_top{
	position:fixed;
	top:90%;
	left:90%;
	width:53px;
	background:#f5f5f54d;
	border:solid 1px white;
	border-radius:50%;
	padding:0 0;
	align-items:center;
}
.btn_top img{
	margin:0;
	padding:0;
}
.btn_top:hover{
	background:white;
}
.line{
	width:7em;
	margin:0.9em 40%;
	position:relative;
	display:block;
	align-self:center;
	border:solid 2px #ec2f86;
	border-radius:5px;
}
.extend{
	display:none;
}
.learn{
	background:transparent;
	color:white;
	padding:0.3em;
	border:solid 2px white;
	border-radius:22px;
	cursor:pointer;
}
.learn:hover{
	background:#0f89f0 !important;
	color:white;
}
.learn:active{
	border:solid 2px red;
}
main{
	margin:0em;
	padding:0em;
}
article{
	margin:0em;
	padding:0em;
	display:inline-block;
}
article img{
	width:98%;
	margin:0.1em;
}


article video{
	width:32.5%;
	display:inline;
	margin:0em;
	align-items:center;
	border-radius:2px;
}

section{
	width:47%;
	margin:0.1em;
	display:inline-block;
}
article p{
	padding:1em 7em;
	text-align:center;
}
section p{
	display:block;
	clear:both;
	padding:0.5em;
}

.learn{
	background:#0f89f0;
	font:normal 18px tahoma;
	color:white;
	padding:0.4em;
	border:solid 1px #0f89f0;
	border-radius:22px;
	text-shadow:-1px 1px 2px #333;
	cursor:pointer;
}
.learn:hover{
	background:black !important;
	color:white;
}
.learn:active{
	border:solid 2px red;
}
.more{
	background:#06655e;
	color:white;
	padding:0.2em;
	border:solid 1px #06655e;
	cursor:pointer;
	text-shadow:-1px 1px 2px #333;
	font:normal 20px cursive;
}
.more:hover{
	background:#333 !important;
	color:white;
}
.more:active{
	border:solid 1px #e60e53;
}

.X{
	background:#993e33;
	float:right;
	font:normal 19px tahoma;
	color:white;
	padding:0.3em;
	border:solid 1px #993e33;
	text-shadow:-1px 1px 2px #333;
	cursor:pointer;
}
.X:hover{
	background:red;
}

#give{
	display:none;
	position:fixed;
	top:11%;
	margin:0 10%;
	background:white;
	height:80%;
	width:80%;
	border:solid 1px #993e33;
	z-index:5;
}
#give section{
	padding:1em;
}
#give h1{color:#333;}
.form{
	width:75%;
	height:2.8em;
	font-size:16px;
}

.story article{
	color:#f2f2f2 !important;
	width:100%;
	height:44%;
	margin:0.1em 0;
	overflow:hidden;
	text-shadow:-1px 1px 2px black;
	transition:all 1s ease;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.overlay article{
	color:#f8f1f1 !important;
	margin-top:4em;
	width:100%;
	height:100%;
	background:#18171766;
	text-shadow:none;
}
.story img{
	width:55%;
}
.story .more{
	margin-top:12%;
}
.story h3{
	color:gold;
}
.story b{
	color:white;
}
@keyframes section_drop{
	0% {top: 320px;opacity: 0}
	100% {top: 130px;opacity: 1}
}
#children{
	background:url('images/little girls.jpg')center no-repeat;
	background-size:cover;
}
#youth{
	background:url('images/young woman.jpg')center no-repeat;
	background-size:cover;
}
#men{
	background:url('images/father-daughter.jpg')center no-repeat;
	background-size:cover;
}
#women{
	background:url('images/african women.jpg')center no-repeat;
	background-size:cover;
}
#couples{
	background:url('images/couple.jpg')center no-repeat;
	background-size:cover;
}

#sub-menu a{
	color:#0ccf8a !important;
}
#social{display:block;
	   padding:0px;
	   position:relative;
	   align-self:center;
	   margin:0px;}
#social a{
	text-decoration:none;
	padding:0px !important;
	margin:0px !important;
	background:transparent;
}

#social button{
	width:50px;
	height:50px;
	background:transparent;
	border-radius:50%;
	padding:0 0 !important;
	margin:0 !important;
	align-items:center;
	border:none;
	}

#social img{
	width:110%;
	margin:0;
	padding:0;
}
#social button:hover{
	transform:scale(1.2,1.2);
}

footer{
	background:#252a2f;
	display:block;
	width:100%;
	text-align:center;
	padding:0px;
	font-size:12px;
	margin:0px;
	z-index:3;
}

footer p{
	font:normal 15px arial;
	color:#cdd8d6;
	line-height:1.6;
	padding:0.3em;
}
footer li{
	border-radius:5px;
	display:inline-block;
	text-decoration:none;
	cursor:pointer;
	margin:0.5em 0em;
	font:normal 17px arial;
}
footer a{
	color:white;
	text-align:center;
	text-decoration:none;
	padding:0.5em;
	border-radius:5px;
	transition:all 0.5s ease;
}
footer a:hover{
	color: red;
}

@media screen and (max-width:920px){
	.spacer{
		height:3.7em !important;
	}
	.navbar_collapse{height:280px !important;}
	.btn_top{
		display:block;
	}
	.line{
		margin-left:25%;
	}
	header .learn{
		margin:0.5em 25%;
	}
	.name{
		color:#333;
		text-shadow:none;
	}
	header{
		display:block;
		background:white;
		position:fixed;
		width:100%;
		padding:0.1em 0.2em;
		margin-bottom:0px;
		border-bottom:solid 1px black;
		z-index:3;
	}
	.menubtn{
		display:block;
		float:right;
		margin:0px;
		background:white;
		border:solid 1px transparent;
		border-radius:5px;
		cursor:pointer;
	}
	.bar1,.bar2,.bar3{
		width:30px;
		height:5px;
		margin:0.5rem;
		background:rgba(0,136,169,1);
		transition:all 0.5s ease;
	}
	.change .bar1{transform:rotate(-45deg) translate(-10px,10px)}
	.change .bar2{opacity:0;}
	.change .bar3{transform:rotate(45deg) translate(-8px,-8px)}
	.menu-list{
		display:block;
		float:right;
		width:100%;
		height:0;
		margin:0;
		border-radius:6px;
		overflow:hidden;
		list-style-type:none;
		z-index:3;
	}
	.menu-list li{
		display:block;
		padding:0;
		margin:0;
	    background:#05474d;
	    border-radius:0px;
	    padding:16px;
	    margin:0px;
	}
	.link{
		font:normal 20px tahoma !important;
		color:white;
	    text-shadow:-1px 1px 2px #333;
		cursor:pointer;
		text-decoration:none;
		z-index:3;
	}
	#showcase span{
		top:4.5em;
	}
	main{
		width:100%;
	}
	article{
		margin:0em;
		padding:0em;
	}
	article img{
		width:100%;
		margin:0em;
	}
	
	article section{
		width:49% !important;
		margin:0;
	}
	article p{
		padding:0.1em;
	}
	section p{
		padding:0.1em;
	}
	
	article video{
		width:98% !important;
		margin:0.2em 0;
	}
	
	#give{
		top:8%;
		margin:2%;
		height:90%;
		width:96%;
	}
	#give section{
		padding:0.3em;
	}
	#give h1{
		font-size:24px;
	}
	.form{
		width:100%;
	}
	.story img{
		width:95%;
	}
}
@media screen and (max-width:620px){
	
	.spacer{
		height:4.5em !important;
	}
}
@media screen and (max-width:500px){
	.spacer{
		height:5em !important;
	}
	.story img{
		display:none;
	}
	article section{
		width:100% !important;
	}
	header .learn{
		margin:0.5em 20%;
		font-size:20px;
		background:#0f89f0;
		border:solid 1px #0f89f0;
	}
	header .learn:hover{
		background:#333 !important;
		border:solid 1px #333;
	}
	.navbar_collapse{height:280px !important;}
	
	
}